body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  font-size: 5.625rem;
  margin-top:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}
h3{
font-family: 'Montserrat', sans-serif;
color:#11999E;
}
.top{
  background-color:#ddf3f5;
  padding-top:100px;
  position:relative;

}
.skill-row{
  width:50%;
  line-height: 2;
  margin:100px auto 100px auto;
  text-align: left;
}
.frontend{
  width:25%;
    border-radius: 50%;
    float:left;
    margin-right: 30px;

}
.backend{
  width:25%;
    border-radius: 50%;
    float:right;
    margin-left: 30px;

}
.database{
  width:25%;
    border-radius: 50%;
    float:left;
    margin-right: 30px;

}
.underline{
  text-decoration: underline;

}
.bottom-cloud{
  position: absolute;
  left:300px;
  bottom:300px
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.propic{
  border-radius: 50%;
  width: 10%;
  height:10%;
  padding-top: 30px;
  }
  .footer-link{
    color:#11999E;
  }
  .BUTTON_KCG {

      background-color:#11999E; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
    }
.bottom-container{
  background-color: #66BFBF;
  padding-top: 30px;
  margin-bottom: 0;
  padding-bottom: 40px;
}
.middle-container{
  padding-bottom: 150px;
  margin-bottom: 20px
}
p{
  font-size: 130%
}
hr{
  border-style:none;
  border-top-style: dotted;
  width:5%;
  border-color: grey;
  border-width: 10px;
  padding-top: 50px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  overflow: hidden;
  background-color: #ddf3f5;
}

li {
  float: left;
}

li a {
  display: block;
  color:  #66BFBF;
  text-align: center;
  padding:16px 20px;
  text-decoration: none;
  font-size: 120%;
}

li a:hover {
  background-color:white;
}
.contact-me{
  padding-top: 80px;
  padding-bottom: 80px;
}
.mid{
  padding-bottom: 80px;
}
.ill{
  padding-bottom: 80px;
}
